<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Error</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
</head>
<body> 
    <h1>SQLite Database Error (PLEASE READ)</h1>
    <p style="font-size: 30px;">We apologize, but an error has occurred while attempting to access the database. 
        If you're running this application locally, please ensure that the complete EcoTracker directory is open in your environment (specifically, the directory containing the userdata.db file).
        If you're accessing this application through a public server and believe this to be a hosting issue, please don't hesitate to contact our support team at 25ktran8@gmail.com.
        <a href="home.html" class="navbar-item" style="text-decoration: underline;">BACK TO HOME PAGE</a>
    </p>

</body>
</html>